
$color-primary: #22226a;
$color-primary-light: #4E4DA1;

$color-grey: #77778e;
$color-accent: #54baff;

$color-secondary: #d9e8ed;
$color-white: #fff;


// FONTS
$font-nav: 'Montserrat', sans-serif;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;


$max-width: 110rem;
$max-width-md: 95rem;
$max-width-sm: 90%;
