.btn {

    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: $font-primary;
    border-radius: 100px;
    background-color: $color-primary-light;
    color: $color-white;
    padding: 1.5rem 2.5rem;
    text-transform: capitalize;

    transition: all .2s;

    &:hover {
        background-color: rgba(78,78,161,0.9);
    }

    &--form {
        outline: none;
        border: none;
    }
}