*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(bp-lg){
        font-size: 50%;
    }

}

body {
    box-sizing: border-box;

}






