
.mb-xs {
    margin-bottom: .5rem;
    @include respond(bp-xs) {
        margin-bottom: 1rem;
    }
}
.mb-sm {
    margin-bottom: 1rem;
    @include respond(bp-xs) {
        margin-bottom: 2rem;
    }
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 6rem;
}
.mb-xl {
    margin-bottom: 8rem;
}
