.about-us {

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, rgba($color-secondary, .6), rgba($color-secondary, .05));

    &__container {

        max-width: 110rem;
        
        display: flex;
        justify-content: space-between;

        margin: 10rem 0;


        @include respond (bp-md) {
            max-width: $max-width-md;
        }

        @include respond (bp-sm) {
            max-width: $max-width-sm;
            max-height: 90%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__text-box {
        width: 49%;

        @include respond (bp-sm) {
            width: 75%;
        }

        @include respond (bp-xs) {
            width: 100%;
        }
    }

    &__img-box {
        width: 49%;
        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 36rem 25.5rem;
        grid-gap: 2.5rem;

        @include respond (bp-sm) {
            order: -1;
            width: 60%;
            margin-bottom: 10rem;
        }

        @include respond (bp-xs) {
            width: 85%;
        }

        @include respond (bp-xs) {
            grid-template-rows: 36rem 15rem;
        }
    }

    &__figure {

        border-radius: 2rem;
        overflow: hidden;

        
        
        &--1 {
            grid-column: 1 / -1;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.quality {

    width: 100%;

    margin: 10rem 0;



    // To center the content container
    display: flex;
    justify-content: center;
    align-items: center;
    //

    &__container {


        max-width: $max-width;
        @include respond (bp-md) {
            max-width: $max-width-md;
        }

        @include respond (bp-sm) {
            max-width: $max-width-sm;
            max-height: 90%;

        }
        background-image: url(../img/useful-inforamation-bg-shape.png);
        text-align: center;
        background-repeat: no-repeat;
    }

    &__card-container {

        display: flex;
        justify-content: space-between;

        @include respond (bp-sm) {
            flex-direction: column;
           
        }
    }

    &__counter {

        width: 100%;
        margin-top: 10rem;

        background-color: $color-secondary;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content;
        grid-column-gap: 3rem;
        padding: 3rem 3rem;
        border-radius: 1.5rem;

        margin-bottom: 3rem;

        

        @include respond(bp-sm) {
            padding: 2rem 2rem;
            grid-column-gap: 2rem;
        }

        @include respond(bp-xs) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, min-content);
            grid-gap: 2rem;

            
        }
    }

    &__counter-box {
        background-color: $color-white;
        padding: 3rem 1rem;
        border-radius: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        &--1 {
            grid-column: 1 / span 1;
            grid-row: 1 / 2;

            @include respond(bp-xs) {
                grid-column: 1 / 2;
                grid-row: 1 / span 1;
            }
        }

        &--2 {
            grid-column: 2 / span 1;
            grid-row: 1 / 2;

            @include respond(bp-xs) {
                grid-column: 2 / 3;
                grid-row: 1 / span 1;
            }
        }

        &--3 {
            grid-column: 3 / span 1;
            grid-row: 1 / 2;

            @include respond(bp-xs) {
                grid-column: 1 / 2;
                grid-row: 2 / span 1;
            }
        }

        &--4 {
            grid-column: 4 / span 1;
            grid-row: 1 / 2;

            @include respond(bp-xs) {
                grid-column: 2 / 3;
                grid-row: 2 / span 1;
            }
        }

        @include respond(bp-sm) {
            & .footer-title {
                font-size: 3rem;
            }
            & .small-component-title {
                font-size: 1.6rem;
            }
        }

    }

    & .footer-title {
        color: $color-primary-light;
    }
}

.facilities {

    // To center the content container
    display: flex;
    justify-content: center;
    align-items: center;
    //

    margin: 15rem 0;



    &__container {
        display: flex;
        justify-content: space-between;

        max-width: $max-width;
        @include respond (bp-md) {
            max-width: $max-width-md;
        }

        @include respond (bp-sm) {
            max-width: $max-width-sm;

            flex-direction: column;
            align-items: center;

        }
    }

    &__text-box {
        width: 49%;

        @include respond (bp-sm) {
            width: 75%;
        }

        @include respond (bp-xs) {
            width: 100%;
        }
    }

    &__img-box {
        width: 49%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 36rem 10rem;
        grid-gap: 2.5rem;

        @include respond (bp-sm) {
            order: -1;
            width: 60%;
            margin-bottom: 10rem;
        }

        @include respond (bp-xs) {
            width: 85%;
        }
    }

    &__figure {
        border-radius: 2rem;
        overflow: hidden;

        &--1 {
            grid-column: 1 / -1;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

